
<!-- <app-sender></app-sender> -->
<!-- <app-viewchild></app-viewchild> -->
 <!-- <div appBackground>This is custom directive</div>
 <div style="display: flex; justify-content: center; align-items: center; flex-direction: column;"> -->
    <!-- <app-parentcontent>
        <app-childcontent ross="cricketer"> -->
            <!-- <p class="abcd">This is my first child component</p>
            <h3 style="width: 600px;" id="sant">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod optio in obcaecati perferendis cupiditate, amet placeat qui velit eum voluptate eligendi libero expedita aperiam recusandae ipsam debitis, impedit accusamus sit.</h3> -->
                
        <!-- </app-childcontent>
    </app-parentcontent>
    <app-header></app-header>
   <router-outlet></router-outlet>
</div> -->

  
  
  
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" href="#">Active</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Conact Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Career</a>
        </li>
      </ul>
    </div>
  </nav>
  


